/* Reset the container */
.container {
    width: 1140px;
    max-width: none !important;
}
/* Default */
ul{
    list-style: none;
    padding: 0;
}
a{
    color: #007AFF;
    font-size: 13px;
}
a:hover, a:active, a:focus{
    text-decoration: underline;
    color: #007AFF;
}
/* Special links */
a.dashed:hover, a.dashed:active, a.dashed:focus{
    text-decoration: none !important;
}
a.dashed:hover span, a.dashed:active span, a.dashed:focus span{
    border-bottom: 1px dashed #007AFF;
}
a.btn{
    font-size: 13px;
}
p{
    font-size: 13px;
}
textarea{
    resize: none;
}
label{
    font-weight: normal;
}
hr{
    margin: 10px 0;
}
.btn:active{
    outline: none;
}
.btn:focus{
    outline: none;
}
.btn.btn-success{
    background: #4caf50;
}
.btn.btn-success:active{
    background: #4caf50;
}
.form-control{
    border-radius: 3px;
    padding: 5px 10px;
    height: auto;
    font-size: 12px;
}
.dropdown:hover{

}
.dropdown a{
    position: relative;
    z-index: 3;
}
.dropdown-menu{
    top: 0px;
    z-index: 2;
    padding-top: 30px;
}
.dropdown .dropdown-toggle:hover{
    text-decoration: underline;
}
.navbar-right .dropdown-menu{
    right: 0;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background: transparent;
}
.nav>li>a:hover, .nav>li>a:focus{
    background: transparent;
    text-decoration: underline;
}
.checkbox label{
    font-size: 13px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #3F51B5;
    background: transparent;
}
input[type=checkbox], input[type=radio]{
    margin: 2px 0 0;
}
.form-horizontal .control-label{
    padding-top: 5px;
    font-size: 12px;
    font-weight: normal;
}
.fa-map-marker{
    color: #ff9800;
}
.fa-phone{
    color: #4cb034;
}
.fa-user{
    color: #3F51B5;
}
.fa-envelope{
    color: #24bfb6;
}
.fa-globe{
    color: #22b0d3;
}
/* Btn */
.btn{
    padding-left: 30px;
    padding-right: 30px;
}
.btn.btn-primary:hover, .btn.btn-success:hover{
    border: 1px solid transparent;
}
.btn.btn-primary:active, .btn.btn-success:active{
    border: 1px solid transparent;
}
.btn.btn-primary:focus, .btn.btn-success:focus{
    border: 1px solid transparent;
}
button:active, button:focus {
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0;
}
.btn-yellow{
    border: 1px solid #ff9800;
    background: #fff;
    color: #333;
}
.btn-yellow:hover{
    background: #ff9800;
    color: #fff;
}
.btn-yellow .fa{
    color: #ff9800;
}
.btn-yellow:hover .fa{
    color: #fff;
}
.btn-yellow-fill{
    background: #ff9800;
    color: #fff;
}
.btn-file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 130px;
    height: 130px;
    display: block;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-bottom: 15px;
}
.btn-file .fa-plus{
    margin-top: 35px;
}
.btn-file p{
    padding: 0 20px;
    line-height: 15px;
}
.btn-file a{
    color: #333;
    display: block;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/* Bread crumb */
.breadcrumb{
    margin: 10px 0;
    background: #fff;
    font-size: 12px;
    padding: 0 0 0 15px;
}
/* Forms */
.form-group p{
    margin-top: 5px;
    margin-bottom: 0;
}
.has-error label.licence{
    color: #333;
}
.has-error .control-label{
    text-align: left;
}
/* Text */
.text-warning{
    color: #ff9800;
}
.img-thumbnail{
    padding: 0;
}